<td class="text-center">
    <div class="btn-group">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <% if(!locked) { %>
            <li><a href="javascript:void(0);" id="revoke-access">Lock (Revoke access)</a></li>
            <% } else { %>
            <li><a href="javascript:void(0);" id="reinstate-access">Unlock (Reinstate access)</a></li>
            <% } %>
            <li class="divider"></li>
            <li><a href="#">Assign permission(s)</a></li>
        </ul>
    </div>
</td>
<td><%= display_name %></td>
<td><%= email_address %></td>
<td><%= registered_on.date %></td>