<style type="text/css">
    .gallery-image .thumbnail{position:relative;overflow: hidden;}

    .gallery-image-menu{
        width:100%;
        margin:0;
        text-align: right;
    }

    .gallery-image-menu li{
        display:inline-block;
        margin: 5px 3px;
    }
</style>

<div class="gallery-image">
    <div class="thumbnail">
        <img src="/uploads/thumbs/<%= filename %>" alt="<%= description %>" />
        <ul class="gallery-image-menu">
            <li><a href="javascript:void(0);" title="Delete this image"><i class="fa fa-trash fa-lg"></i></a></li>
        </ul>
    </div>
</div>
