<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
                    <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="gallery"></div>
                    <div role="tabpanel" class="tab-pane" id="upload">Upload here</div>
                </div>
            </div>
        </div>
    </div>
</div>