<style type="text/css">
    .dropzone{
        margin:10px 0;
        height: 300px;
        border: 4px dashed #e0e0e0;
    }

    .dropzone .dropzone-content{
        position: relative;
        top:150px;
        margin-top: -75px;
        height:150px;
        overflow: hidden;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="primary-dropzone" class="dropzone">
                <div class="dropzone-content">
                    <h4>Drop your files here</h4>
                    <p>or</p>
                    <p><button type="button" name="qqfile" value="Select files from your computer" id="upload-button" class="btn btn-lg btn-primary">Select files from your computer</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

